.list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.list-item {
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}
.list-item:nth-child(odd) {
    background-color: #F4F7FA;
}
.list-item label {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.list-item input[type="checkbox"] {
    margin: 0;
    background: none;
    appearance: none;
    margin-right: 10px;
    outline: none;
}
.list-item input[type="checkbox"]:after {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    border: 1px solid #888888;
    border-radius: 3px;
    background-color: #F1F0EF;
    background: linear-gradient(to bottom, #FCFBFB, #E6E7E6);
    box-shadow: 0px 0px 5px 1px #888888;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item input[type="checkbox"]:checked:after {
    content: '✓';
    font-size: 22px;
    color: #004066;
    background: linear-gradient(to bottom, #55AED0, #007FAC);
}
.done {
    text-decoration: line-through;
    color: #B5B5B5;
}
.handle {
    color: #C1BCBC;
    display: none;
    user-select: none;
    cursor: grab;
}
.list-item:hover .handle {
    display: block;
}
